<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Magic8Ball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B54E3E5A1CE39A7D0033CE9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54E3E731CE39A7E0033CE9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54E3E7E1CE39A7E0033CE9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
